<!DOCTYPE html>
<html>
  <head>
    <title>Rails102</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script
        src="http://code.jquery.com/jquery-3.2.1.js"
        integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
        crossorigin="anonymous"></script>
    
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
    
  <body>
    <div class="container-fluid"> 
        <%= render "common/navbar" %>  
        <%= render "common/flashes" %> 
        <%= yield %>  
    </div> 
    <% render "common/footer" %>    
  </body>
</html>
